.row1,
.row2,
.row3 {
	min-height: 260px;

	max-width: 100%;
	position: relative;
}
.row2 {
	justify-content: center;
}
.eachElement {
	border-style: solid;
	border-width: 20px;
	border-radius: 5px;
	padding-left: 6px;
	font-size: 11px;
	width: 7%;
	z-index: 2;
}

.bigDiv {
	height: 100%;
}
.rowEnclose {
	height: 100%;
}
.cardTitle {
	padding-top: 0px;
}
.headerBar {
	font-size: 100%;
	font-weight: 900;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	height: 10%;
}
.checkSortButton {
	background-color: transparent;

	border: 0.1em solid #ffffff;
	border-radius: 0.12em;

	font-weight: 900;
	color: #ffffff;
	text-align: center;
	height: 2.5em;
	width: 12em;
	position: absolute;
	transform: translate(-50%, -50%);
	top: -40%;
	left: 20%;

	/* default 0 */
}
.checkSortButton:focus {
	outline: 0;
}

.checkSortButton:hover {
	background-color: lightgreen;
}

.rowTitle h3 {
	width: 200px;
	text-align: center;
	margin: 0%;
}
.row1 .row2 .row3 {
	position: relative;
}
.row1 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}
.row2 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
	display: none;
}
.row3 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}
h2 {
	font-size: 44px;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
	color: black;
}
h2.background {
	z-index: 2;
}

h2::before {
	border-top: 10px solid black;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 39%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
h2 span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background-color: rgb(92, 172, 172);
	padding: 0 15px;
}
.row1 button {
	height: 0;
	display: none;
}
.row2 button {
	height: 0;
	display: none;
}
.turnParent {
	width: 100%;
	height: 100%;
}
.backDrop {
	height: 0px;
	width: 0px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.351);
	z-index: 49;
	font-size: 0;
	font-weight: 700;
	animation: hide 1.5s;
	opacity: 0.1;
}
.showTurn {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 20%;
	z-index: 50;
	user-select: none;
	color: white;
}

.turn {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 20%;
	left: 20%;
	color: white;

	background-color: transparent;
	font-size: 200%;
	width: 100%;
	height: 0;
	text-align: center;
	/* animation-name: example;
	animation-duration: 1s; */
}
@keyframes hide {
	0% {
		opacity: 0%;
		width: 100%;
		height: 60%;
		font-size: 300%;
	}
	40% {
		opacity: 100%;
		width: 100%;
		height: 60%;
		font-size: 300%;
	}
	100% {
		opacity: 0;
		width: 100%;
		height: 60%;
		font-size: 300%;
	}
}
@keyframes example {
	from {
		color: lightgreen;
		letter-spacing: 5px;
		text-rendering: geometricPrecision;
	}
	to {
		color: white;
		letter-spacing: normal;
	}
}
.rulesButtondiv {
	position: absolute;
	top: 5%;
	right: 5%;
}

@media screen and (max-width: 1500px) {
	.row1,
	.row2,
	.row3 {
		min-height: 215px;
		max-height: 250px;
		max-width: 100%;
		position: relative;
	}
	h2 {
		font-size: 35px;
		margin-top: 30px;
		text-align: center;
		text-transform: uppercase;
		color: black;
	}
	.row2 {
		justify-content: center;
	}

	.eachElement {
		border-style: solid;
		border-width: 14px;
		border-radius: 5px;
		padding-left: 6px;
		font-size: 11px;
		width: 11%;
		z-index: 2;
	}

	.bigDiv {
		height: 100%;
	}

	.rowEnclose {
		height: 100%;
	}

	.cardTitle {
		padding-top: 0px;
	}

	.headerBar {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		height: 0%;
	}

	.theButton {
		padding-top: 3px;
	}

	.rowTitle h3 {
		width: 200px;
		text-align: center;
		margin: 0%;
	}
	.showTurn {
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 20%;
		z-index: 50;
		user-select: none;
		color: white;
	}
	
	.turn {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 20%;
		left: 20%;
		color: white;
	
		background-color: transparent;
		font-size: 160%;
		width: 100%;
		height: 0;
		text-align: center;
		/* animation-name: example;
		animation-duration: 1s; */
	}
}

.gameRulesIMG {
	position: absolute;
	height: 50px;
	z-index: 100;
	transform: translate(-50%, -50%);
	top: 48%;
	left: 80%;
}
.gameRulesP {
	position: absolute;
	height: 50px;
	z-index: 100;
	transform: translate(-50%, -50%);
	top: 60%;
	left: 80%;
	text-decoration: none;
	color: white;
}
.loadWheel {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: white;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.loadWheel:after {
	content: " .";
	animation: loadDots 0.5s steps(5, end) infinite;
}

@keyframes loadDots {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: white;
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
	}
}
