.row1,
.row2,
.row3 {
	min-height: 260px;

	max-width: 100%;
	position: relative;
}
.row2 {
	justify-content: center;
}
.eachElement {
	border-style: solid;
	border-width: 20px;
	border-radius: 5px;
	padding-left: 6px;
	font-size: 11px;
	width: 7%;
	z-index: 2;
}

.bigDiv {
	height: 100%;
}
.rowEnclose {
	height: 100%;
}
.cardTitle {
	padding-top: 0px;
}
.headerBar {
	font-family: cursive;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	height: 10%;
}
.checkSortButton {
	background-color: transparent;

	border: 0.1em solid #ffffff;
	border-radius: 0.12em;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: #ffffff;
	text-align: center;
	height: 3em;
	width: 15em;

	/* default 0 */
}
.checkSortButton:focus {
	outline: 0;
}

.checkSortButton:hover {
	background-color: lightgreen;
}

.rowTitle h3 {
	width: 200px;
	text-align: center;
	margin: 0%;
}
.row1 .row2 .row3 {
	position: relative;
}
.row1 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}
.row2 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}
.row3 h2 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
}
h2 {
	font: 33px sans-serif;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
	color: black;
}
h2.background {
	z-index: 1;
}

h2::before {
	border-top: 10px solid black;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 39%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
h2 span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background-color: rgb(92, 172, 172);
	padding: 0 15px;
}
.row1 button {
	height: 0;
	display: none;
}
.row2 button {
	height: 0;
	display: none;
}




@media screen and (max-width:1500px) {

	.row1,
	.row2,
	.row3 {
		min-height: 150px;
		max-height: 220px;
		max-width: 100%;
		position: relative;
	}

	.row2 {
		justify-content: center;
	}

	.eachElement {
		border-style: solid;
		border-width: 8px;
		border-radius: 5px;
		padding-left: 6px;
		font-size: 9.5px;
		min-width: 6%;
		max-width: 8%;
		z-index: 2;
	}

	.bigDiv {
		height: 100%;
	}

	.rowEnclose {
		height: 100%;
	}

	.cardTitle {
		padding-top: 0px;
	}

	.headerBar {
		font-family: cursive;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		height: 0%;
	}

	.theButton {
		padding-top: 1px;
	}

	.checkSortButton {
		background-color: transparent;

		border: 0.1em solid #ffffff;
		border-radius: 0.12em;
		font-family: "Roboto", sans-serif;
		font-weight: 900;
		color: #ffffff;
		text-align: center;
		height: 2.5em;
		width: 12em;

		/* default 0 */
	}

	.checkSortButton:focus {
		outline: 0;
	}

	.checkSortButton:hover {
		background-color: lightgreen;
	}

	.rowTitle h3 {
		width: 200px;
		text-align: center;
		margin: 0%;
	}

	.row1 .row2 .row3 {
		position: relative;
	}

	.row1 h2 {
		width: 100%;
		position: absolute;
		top: 30%;
		left: 0;
	}

	.row2 h2 {
		width: 100%;
		position: absolute;
		top: 30%;
		left: 0;
	}

	.row3 h2 {
		width: 100%;
		position: absolute;
		top: 30%;
		left: 0;
	}

	h2 {
		font: 33px sans-serif;
		margin-top: 30px;
		text-align: center;
		text-transform: uppercase;
		color: black;
	}

	h2.background {
		z-index: 1;
	}

	h2::before {
		border-top: 10px solid black;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 39%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 95%;
		z-index: -1;
	}

	h2 span {
		/* to hide the lines from behind the text, you have to set the background color the same as the container */
		background-color: rgb(92, 172, 172);
		padding: 0 15px;
	}
}