.columns {
	background-color: white;
	display: flex;
	flex-direction: column;
}

.columntitle {
	font-family: cursive;
}

.events {
	display: flex;
	flex-direction: row;
	height: 150px;
	justify-content: center;
	padding: 4px;
	max-width: 100%;
}

.eachElement {
	border-style: solid;
	width: 150px;
	height: 100px;
	background-color: rgb(199, 217, 244);

	padding: 16px;
	margin: "0 0 8px 0";
	min-height: "50px";
	user-select: none;
}
.eachElement p {
}

:active .eachElement {
	background-color: rgb(225, 139, 156);
}
