@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nerko+One&display=swap");
html,
body,
#root {
	width: 100%;
	height: 100%;
	background-color: rgba(168, 215, 172, 0.659);
}
.title {
	background-color: white;
	border-style: solid;
	border-left: 10px;
	border-right: 10px;
	border-width: 40px;
	font-family: "Lobster", cursive;
}
.botRow img,
.topRow img {
	height: 150px;
	margin-left: 20px;
	margin-right: 20px;
	border-style: solid;
	border-width: 20px;
}
.topRow,
.botRow {
	display: flex;
	justify-content: center;
}
.landing {
	height: 100%;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.continue {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.new {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
}

button {
	height: 50px;
	width: 100px;
	background-color: white;
	font-size: 12px;
}

.title,
.createGame,
.gameFinished {
	font-size: 100px;
}

.gameName {
	font-size: 18px;
	padding: 30px;
}

.startGame button {
	height: 50px;
	width: 100px;
	background-color: white;
	font-size: 25px;
}

.settings {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-style: oblique;
	font-size: 12px;
}
form button {
	margin-top: 12px;
	height: 10%;
	width: 50%;
}
.formHeader {
	font-family: "Nerko One";
}
